<nav class="main-footer-top-bar">
    <ul class="left-footer-navbar">

        <li class="correo"> <a href="#">Correo Eléctronico</a></li>
        <li class="sucribite"> <a href="#"> Suscribite</a></li>

    </ul>
    <ul class="right-footer-navbar">

        <li class="footer-social"> <a href="#"> <i class="fa-brands fa-facebook-square"></i></a> </li>
        <li class="footer-social"> <a href="#"> <i class="fa-brands fa-twitter"></i></a> </li>
        <li class="footer-social"> <a href="#"> <i class="fa-brands fa-pinterest-p"></i></a> </li>
        <li class="footer-social"> <a href="#"> <i class="fa-brands fa-instagram-square"></i></a> </li>
    </ul>
</nav>

<nav class="footer-navbar">
    <ul class="footer-left1-navbar">
        <li> <a href="#"> <strong> Nuestros servicios </strong> </a> </li>
        <li> <a href="#"> Suscripciones </a> </li>
        <li> <a href="#"> Reseñas </a> </li>
        <li> <a href="#"> Programas de Benefícios </a> </li>
    </ul>

    <ul class="footer-right1-navbar">
        <li> <a href="#"> <strong>Sobre nosotros </strong></a> </li>
        <li> <a href="#"> Trabaja en The Book Hut </a> </li>
        <li> <a href="#"> Contactanos </a> </li>
    </ul>

    <ul class="footer-right1-navbar">
        <li> <a href="#"> <strong>Ayuda Rápida</strong> </a> </li>
        <li> <a href="#"> Centro de Ayuda </a> </li>
        <li> <a href="#"> Envíos y devoluciones </a> </li>
        <li> <a href="#"> Gift Card </a> </li>
    </ul>


    <ul class="footer-right1-navbar">
        <li> <a href="#"> <strong>Información importante </strong></a> </li>
        <li> <a href="#"> Cookies </a> </li>
        <li> <a href="#"> Términos y condiciones </a> </li>
        <li> <a href="#"> Politicas de Privacidad </a> </li>
    </ul>
</nav>

