<nav class="main-header-top-bar">
    <ul class="left-header-navbar">

        <li class="home"> <a href="/"><i class="fa-solid fa-house"></i></a></li>
        <li class="submit"> <a href="#"> <i class="fa-solid fa-envelope"></i></a></li>

    </ul>
    <ul class="right-header-navbar">
        <li class="user"> <a href="#"> <i class="fa-solid fa-user"></i> </a> </li>
        <li class="user-texto"> <a href="/register"> Iniciar Sesión / Crear cuenta </a> </li>
    </ul>
</nav>



<div class="main-header-medium-bar">
    <img src="images/logo_the BooK Hut.png" class="logo" alt="Logo de TheHutBook">

    <form class="form" action="#" method="GET">
        <input type="search" name="dato-busqueda" class="input" placeholder="Buscar productos, marcas y más">
        <button type="submit" class="submit"><i class="fa fa-search"></i> </button>
    </form>


</div>

<nav class="main-navbar">
    <ul class="left-navbar">
        <li><a class="link" onclick="lanzamientos()"> Nuevos Lanzamientos </a></li>
        <li><a class="link" onclick="seleccionados()"> Seleccionados para vos </a></li>
        <li><a class="link" onclick="masvendidos()"> Mas vendidos</a></li>
    </ul>

    <ul class="right-navbar">
        <li> <a href="#"> AR$ </a> </li>
        <li> <a href="#"> <i class="fa-solid fa-cart-shopping"></i> </a> </li>
        

        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>


    </ul>
</nav>

<div class="burger-menu">
    <i class="fa fa-bars burger"></i>
</div>
