<!-- Bootstrap Grid Stylesheet -->
<link rel="stylesheet" href="/css/bootstrap-grid.min.css">



<nav class="main-header-top-bar">
    <ul class="left-header-navbar">

        <li class="home"> <a href="/"><i class="fa-solid fa-house"></i></a></li>
        <li class="submit"> <a href="#"> <i class="fa-solid fa-envelope"></i></a></li>

    </ul>
    <ul class="right-header-navbar">
        <li class="user"> <a href=#> <i class="fa-solid fa-user"></i> </a> </li>
        <li class="link">
            <% if (locals.usuarioLogueado) { %><a href="/users/edit/<%= locals.usuarioLogueado.id %>">
                    <%= locals.usuarioLogueado.usuario %>
                        <% } %>
                </a>
        </li>

        <% if (!locals.usuarioLogueado) { %>
            <li class="link"> <a href="/users/login"> Iniciar Sesión </a></li>
            <li class="link"> <a href="/users/register"> / Crear Cuenta </a></li>
            <% } %>

    </ul>
</nav>




<div class="main-header-medium-bar">
    <img src="/images/logo_the BooK Hut.png" class="logo" alt="Logo de The HutBook">

    <form class="form" action="/products/search" method="GET">
        <input type="text" name="busqueda" class="input" placeholder="Buscar productos, marcas y más">
        <button type="submit" class="submit" value="search"><i class="fa fa-search"></i> </button>
    </form>


</div>

<nav class="main-navbar">
    <ul class="left-navbar">
        <li class="link"> <a href="/lanzamientos"> Nuevos Lanzamientos </a></li>
        <li class="link"> <a href="/seleccionados"> Seleccionados para vos </a></li>
        <li class="link"> <a href="/masVendidos"> Mas vendidos </a></li>

        <% if (locals.usuarioLogueado) {%>
            <% if (locals.usuarioLogueado.grupo=="admin" ) { %>


                <ul>


                    <li class="link"> <a href="/users/list"> (-Lista de Usuarios-) </a></li>
                    <li class="link"> <a href="/products/list"> (-Lista de Productos-) </a></li>
                    <li class="link"> <a href="/products/create"> (-Crear Productos-) </a></li>


                </ul>
                <%}%>
                    <%}%>
                        <ul class="right-navbar">
                            <li> <a href="#"> AR$ </a> </li>
                            <% if (locals.usuarioLogueado) {%>
                                <li> <a href="/carrito/lista/<%=locals.usuarioLogueado.id%>"> <i
                                            class="fa-solid fa-cart-shopping"></i> </a> </li>
                                <%}%>

                                    <div class="burger-menu">
                                        <i class="fa fa-bars burger"></i>
                                    </div>


                        </ul>
</nav>

<div class="burger-menu">
    <i class="fa fa-bars burger"></i>
</div>