<body>




    <main>



        <section class="secctionGeneral">

            <div id="masvendidos" class="secctionGeneral_div masvendidos">

                <%- include("./nuevoslanzamientos") %>

            </div>
        </section>

        <main>

            <footer class="main-footer">

                <%- include("./footer") %>
            </footer>


</body>

</html>