<h3>Nuevos Lanzamientos</h3>
<div class="secctionGeneral_bloque">

<div class="secctionGeneral_div_bloque">
    <img
        src="https://marketplace.canva.com/EAE_nUfazus/1/0/1003w/canva-portada-libro-invierno-2AlG-dAa9cs.jpg">
    <div class="descripcionProductos">
        <p class="titulo">Viajando en inverno</p>
        <p class="autor">Josep Lopez</p>
        <p class="precios">$230</p>
        <p class="agregarAlCarrito"><button type="submit">Comprar</button><i class="fa-solid fa-cart-shopping"></i></p>
    </div>
</div>

<div class="secctionGeneral_div_bloque">
    <img
        src="https://marketplace.canva.com/EAE6nr4GsPs/1/0/1003w/canva-portada-de-libro-sobre-novela-apasionante-beige-DdhxXOXWl8o.jpg">
    <div class="descripcionProductos">
        <p class="titulo">La felicidad es un habito</p>
        <p class="autor">Hortencia Marquez</p>
        <p class="precios">$230</p>
        <p class="agregarAlCarrito"><button type="submit">Comprar</button><i class="fa-solid fa-cart-shopping"></i></p>
    </div>
</div>

<div class="secctionGeneral_div_bloque">
    <img
        src="https://marketplace.canva.com/EAE_nUfazus/1/0/1003w/canva-portada-libro-invierno-2AlG-dAa9cs.jpg">
    <div class="descripcionProductos">
        <p class="titulo">Viajando en inverno</p>
        <p class="autor">Josep Lopez</p>
        <p class="precios">$230</p>
        <p class="agregarAlCarrito"><button type="submit">Comprar</button><i class="fa-solid fa-cart-shopping"></i></p>
    </div>
</div>
</div>
