  <div class="login_Register">
    <div class="Login">

      <form action="register.html" method="POST">
        <p class="login_Register_text">CREÁ TU CUENTA Y COMPRÁ DESDE DONDE ESTÉS</p>

        
        <p>
          <label for="usuario"></label>
          <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
        </p>
        <p>
          <label for="nombre"></label>
          <input type="email" name="e-mail" id="e-mail" placeholder="Correo electrónico">
        </p>

        <p>
          <label for="nacimiento">
            <p>Fecha de nacimiento:</p>
          </label>
          <input type="date" name="nacimiento" id="date">
        </p>
        <p>
          <label for="domicilio"></label>
          <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
        </p>

        <p>
          <label for="pass"></label>
          <input type="password" name="pass" id="pass" placeholder="Contraseña">
        </p>

        <p>
          <label for="passC"></label>
          <input type="password" name="passC" id="passC" placeholder="Repetir contraseña">
        </p>
        <p class="button_registro">
          <button type="submit" class="button_registro_"> Enviar </button>
          <button type="reset" class="button_registro_"> Cancelar </button>
        </p>

      </form>
    </div>

    
