<!DOCTYPE html>
<html>

<head>
    
    <%- include("./head") %> 
</head>

       




<body>


    <header class="main-header">

        <%- include("./header") %> 
       
    </header>




<h3>Seleccionados para vos</h3>
<div class="secctionGeneral_bloque">

   
    <div class="secctionGeneral_div_bloque">
        <img
            src="https://marketplace.canva.com/EAE_nUfazus/1/0/1003w/canva-portada-libro-invierno-2AlG-dAa9cs.jpg">
        <div class="descripcionProductos">
            <p class="titulo">Viajando en inverno</p>
            <p class="autor">Josep Lopez</p>
            <p class="precios">$230</p>
            <p class="agregarAlCarrito"><button type="submit">Comprar</button><i class="fa-solid fa-cart-shopping"></i></p>
        </div>
    </div>
    <div class="secctionGeneral_div_bloque">
        <img
            src="https://marketplace.canva.com/EAE_nUfazus/1/0/1003w/canva-portada-libro-invierno-2AlG-dAa9cs.jpg">
        <div class="descripcionProductos">
            <p class="titulo">Viajando en inverno</p>
            <p class="autor">Josep Lopez</p>
            <p class="precios">$230</p>
            <p class="agregarAlCarrito"><button type="submit">Comprar</button><i class="fa-solid fa-cart-shopping"></i></p>
        </div>
    </div>
    <div class="secctionGeneral_div_bloque">
        <img
            src="https://marketplace.canva.com/EAE_nUfazus/1/0/1003w/canva-portada-libro-invierno-2AlG-dAa9cs.jpg">
        <div class="descripcionProductos">
            <p class="titulo">Viajando en inverno</p>
            <p class="autor">Josep Lopez</p>
            <p class="precios">$230</p>
            <p class="agregarAlCarrito"><button type="submit">Comprar</button><i class="fa-solid fa-cart-shopping"></i></p>
        </div>
    </div>

</div>
</div>

<footer class="main-footer">

    <%- include("./footer") %> 
</footer>