<html>
  <head>
    <title>Formulario de registro</title>
    <meta charset="UTF-8">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles_Register.css">
        <script src="https://kit.fontawesome.com/d7986910c9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    
    <form action="register.html" method="POST">
      <p>
            <label for="nombre"> Nombre y apellido :</label>
    <input type="text" name="nombre" id="nombre">
        </p>
    <p>
    <label for="usuario"> Nombre de usuario :</label>
    <input type="text" name="usuario" id="usuario">
    </p>
      
      <p>
        <label for="nacimiento"> Fecha de nacimiento:</label>
    <input type="date" name="nacimiento" id="date">
      </p>
      <p>
      <label for="domicilio"> Domicilio :</label>
      <input type="text" name="domicilio" id="domicilio">
          </p>
          
        <p>
            <label></label>  Seleccionar una imagen de perfil : </label>
            <input type="file" name="img" accept=".jpg">
                </p>
        
                <p>
                    <label for="pass"> Password :</label>
                    <input type="password" name="pass" id="pass">
                </p>

                <p>
                    <label for="passC"> Confirmar Password :</label>
                    <input type="password" name="passC" id="passC">
                </p>


    
        <button  type="reset" > Cancelar  </button>
        <button  type="submit" > Enviar  </button>
    
    
    
    
    </form>
  </body>
</html>