*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body_Register{

border: solid 5px royalblue;
background-color: aquamarine;
align-items: center;
display: flex;


}

body div p{
    margin: 2%;
    align-items: center;
    padding: 2%;
    width: 100%;
    
}

.main-header-medium-bar{

    display: flex;
    text-align: center;
    justify-content:space-between;
}

header .form{

    display: flex;
    justify-content:center; 
    margin:auto;
    margin-right:10px ;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    max-width: 500px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}


.main-header-top-bar{
    background-color: darkgrey;
    padding: 20px;
    
    }

.main-header-medium-bar{
    background-color: grey;
        
        
    }

.main-header-medium-bar{
    background-color: lightslategray;
            
    }

header .logo{
    width: 30%;
    margin: 30px;
    max-width: 200px;
}


.return{
    margin-left: 50px;
    margin-right: auto;
    text-align: center;
}

