<head>
    
  <%- include("../partials/head_reg") %> 
  <%- include("../partials/head") %> 
</head>



<head>
    
  <%- include("../partials/header") %> 
</head>
    
    
    <div class="Register">

            <form action="register.html" method="POST">
              <p class="login_Register_text">¿TENÉS UNA CUENTA?</p>

              <p>
                <label for="usuario"></label>
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">
              </p>
              <p>
                <label for="pass"></label>
                <input type="password" name="pass" id="pass" placeholder="Contraseña">
              </p>
            </form>
            <p>
              <button type="submit" class="button_ingresar"> Ingresar </button>
            </p>

             
    </div>

    <footer class="main-footer">

      <%- include("../partials/footer") %> 
    </footer>
  