<!DOCTYPE html>
<html>

<head>

    <%- include("../partials/head") %>
</head>





<header class="main-header">
    <script src="/js/listaCarrito.js" ></script>
    <%- include("../partials/header") %>

</header>


<br />
<h3>Lista de Productos en el Carrito de Compras</h3>

<ul id="listado"></ul>
<div >

    
     
<button type="submit" id="comprar" class="action-button delete">Comprar Carrito</button>
              





</div>

<br /><br />

<footer class="main-footer">

    <%- include("../partials/footer") %>
</footer>

</body>